{{!

    Renders:
      Credits

}}

<div class="sidebar-item sidebar-credits">
  <div class="nav">
    <a href="https://www.linkedin.com/in/olegkonyk" target="_blank" class="nav-item" title="by Oleg Konyk">by Oleg Konyk</a>
  </div>
</div>

