{{!

    Renders:
      Description
      Description Title
      Description Text

    Microdata:
      Description

}}

<div class="sidebar-item sidebar-description">

  <!--h5 class="sidebar-title">About</h5-->
  <img style="width: 250px; height: 250px;" src="{{asset "img/javascript.png"}}">
  
  <p itemprop="description" class="sidebar-description">{{{@blog.description}}}</p>

  <div style="">
    <a class="twitter-timeline" data-width="280" data-height="600" data-theme="light" data-link-color="#FAB81E" href="https://twitter.com/konyk_o">Tweets by konyk_o</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>
