{{!

    Renders:
      Description
      Description Title
      Description Text

    Microdata:
      Description

}}

<div class="sidebar-item sidebar-description">

  <!--h5 class="sidebar-title">About</h5-->
  <img style="width: 250px; height: 250px;" src="{{asset "img/javascript.png"}}">
  <p itemprop="description" class="sidebar-description">{{{@blog.description}}}</p>

</div>
